/* ======== overrides  ======== */
html {
  font-size: 24px;
}

html, body {
	margin: 0;
	padding: 0;
	height:100%;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	color:#000;
	letter-spacing:0.65px;
	height:100%;
}

a, a:visited {
	text-decoration: none;
	color:#000;
	border-bottom:solid #000 3px;
	padding-bottom:4px;
}
a:hover {
	color:#ff0000;
	border-bottom:solid #ff0000 3px;

}


p , .section-content{
	font-size:1rem;
	font-family:'Abhaya Libre', serif;
}

p {
	margin-top:0;
}

/* ======== global  ======== */

.section {
	display: flex;
	justify-content: center;
	padding:150px 0;
	position: relative;
	background: #fff;
}

.content {
	width:80%;
	display: flex;
	justify-content: space-between;
}

.section-title:before {
	content: "";
	display: block;
	border-top:solid black 6px;
	width:88%;
	padding-top:1.5rem;
}
.section-title {
	width:20%;
	font-weight:900;
	font-size:1.35rem;
	letter-spacing:3px;

}

.section-content {
	width:75%;
	line-height:1.5rem;
}


/* ======== typography  ======== */


.extra-bold {
	font-weight:700;
}

.text-emphasize {
	font-weight:600;
	font-size:1.25rem;
}

/* ======== intro  ======== */

.section.mod-intro {
	min-height:600px;
	height:100%;
	padding:0;
	flex-direction:column;
	justify-content: space-between;
}

.content.mod-intro {
	display: block;
	width:100%;
}

.intro-title {
	font-weight:300;
	text-transform: uppercase;
	font-size:3rem;
	text-align:center;
	margin-bottom:0;
}

.intro-img, .intro-subtitle, .intro-arrow {
	display: flex;
	justify-content: center;
	margin:1.5rem 0;
}

.intro-img {
	background: url(../img/me-berlin.jpg) no-repeat center center;
	width:120px;
	height:120px;
	background-size: cover;
	border-radius:50%;
	margin:0 auto;
}

.intro-subtitle {
	font-weight: 500;
}

.main-nav {
	background: #000;
	font-size:0.65rem;
	display: flex;
	align-items: center;
	justify-content: center;
    height:50px;
    width:100%;
    z-index:2;
}
	.main-nav-inner {
		width:80%;
	}

	.main-nav.fixed-top {
		justify-content: space-around;
		background-color:rgba(0,0,0,0.75);
	}


	.main-nav-item {
		padding:0 0.5rem;
		border-bottom:none;
	}
	a.main-nav-item {
		color:#fff;
	}
	.main-nav-item:hover {
		color:#ff0000;
		border-bottom:none;
	}

	.main-nav-item.logo {
		display:none;
	}
	.main-nav-item.logo.is-visible {
		display:inline-block;
	}

.intro-arrow {
	font-size:2rem;
	margin-top:2rem;
	cursor: pointer;
}
.intro-arrow:hover {
	color:#ff0000;
}

/* ======== fixed banner  ======== */


/*to accommodate for reduced space when banner becomes fixed when it is at top of view port*/
.section.mod-fixed-banner {
	padding-top:0;
	height:500px;
	z-index:0;
	flex-direction: column;
}

#about-banner  {
	background-image: url(../img/spiral-eye.jpg);
}
#contact-banner  {
	background-image: url(../img/spiral-eye.jpg);
}

.fixed-banner {
	width:100%;
	height:600px;
	background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center center;
	color:#fff;
	font-weight:700;
	font-size:2rem;
	display: flex;
	align-items:center;
	justify-content:center;
}

.fixed-banner-overlay {
	background:#000;
	height:600px;
	z-index:3;
}


.fixed-top {
	top:0;
	position: fixed;
	z-index:1;
}


/* ======== about  ======== */

.section.mod-about {

}


/* ======== work  ======== */
.section.mod-work {
}

.work-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.grid-item {
	height:200px;
	background:url(http://placehold.it/200x200) center center no-repeat;
	background-size:cover;
	border-radius:2px;
	flex-basis: 100%;
    max-width: 43%;
	margin-bottom:20px;
	cursor: pointer;
	font-size:1rem;
}

.grid-item.bigger {
    flex-basis: 100%;
    max-width:53%;
}

.grid-item.contracted {
	max-width:33%;
	transition: max-width 0.5s ease-in-out;
	font-size:0.75rem;
}
.grid-item.expanded {
	max-width:63%;
	flex-basis:100%;
	transition: max-width 0.5s ease-in-out;
	background:#666;

}

.grid-item-content {
	/*display: flex;
	justify-content: center;
	align-items:center;*/
	color:#fff;
	font-family: 'Lato', sans-serif;
	font-weight:500;
	padding:1rem 0 1rem 1rem;
}


/* ======== contact  ======== */

.section.mod-contact {
	/*padding-bottom:400px;*/
}

/* ======== footer  ======== */


.footer {
	height:60px;
	background:#000;
	color:#fff;
	display: flex;
	justify-content: center;
	align-items:center;
	font-size:0.75rem;
	font-weight:300;
}

.social {

}

a.social-icon {
	color:#fff;
	padding:0 0.5rem;
	border-bottom:none;

}

.social-icon:hover {
	color:#ff0000;
	border-bottom:none;
}